body {}

.idc-box {
    background: #e362f1 none repeat scroll 0 0;
    border: 3px solid #d51e1e;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.idc-box .idc-titulo {
    font-weight: 700;
    text-align: center;
}

.idc-box li, .idc-box ul, .idc-box ul li {
    padding: 0 5px;
    list-style: outside none none;
}
