/* index */

/* calculadora */
/* graficos */
/* videos */

#titulo principal{
    color: #ff8c00;
    font-family: 'Orelega One', cursive;
    word-spacing: 80cm ;
    text-align: center;
}
div.especial h3{
    color: black;
    letter-spacing: 2px ;
    word-spacing: 2px;
    text-align: center;

}
body{
    font-family: 'Playfair Display', serif;
}
div{
    border: 2px groove black;
    margin: 10px;
    padding: 5px 30px;
    border-radius: 15px;
    box-shadow: 10px 12px black;

}
img{
    width: 300px;
    float: left;
}
div h1{
    font-family: 'Orelega One', cursive;

}
div h2  h4{
    font-family: 'Nanum Gothic', sans-serif;
}

.columna1{
    float: left;
    width:  50%;
}
.columna2{
    float: right;
    width: 50%;
}